################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
bin-int/

*.sln
*.slnx
*.vs
*.bat
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
